.divCard{
    margin:2% 10%;
    padding: 1%;
    background-color: #38A8CC;
    border-radius: 20px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .mensagemHidratacao{
        font-size: 1.6em;
        text-align: center;
    }

    .containerItens{
        display: flex;
        justify-content: center;
        align-items: center;
    
        .circle {
            width: 40%;
            height: 100%;
            border-radius: 50%;
            background-color: rgb(255, 55, 55);
            border: 6px solid white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

    
            .porcentagem{
                font-size: 2em;

                font-weight: bold;
               
                
                color: rgb(255, 255, 255);
    
            }

            .meta{
                text-align: center;
                width: 80%;
                font-size: 90%;
            };
          }
    
          .imagemMeta{
            width: 50%;
          }
          
    }

}
