.sectionMotivacional{
    width: 100%;
    .divConteudo{
    
        display: flex;
        flex-direction: column;
        justify-content: center;
    

        .divTitulo{
            width: 100%;
            margin-top: 8%;
            display: flex;
            align-items: center;
            flex-direction: column;
            .tituloMotivacional{
                width: 62.5%;
                font-size: 47px;
                font-style: italic;
            }
        }

        .divMotivacional{
          margin-top: 2%;
          width: 100% !important;
           display: flex;
          justify-content: center;
            .textoMotivacional{
                font-size: 1.44em;
                font-weight: lighter;
                width:20%;
                
                
            }
            .imagemMotivacional{
                border:3px solid white;
                border-radius: 5px;
                margin-left: 3em;
                margin-top: 0.8em;
                width:40%;
            }
        }
    }
}


