$azul-escuro: #027ea6;

header {
    background-color: white;
    display: flex;
    align-items: center;

    nav {
        width: 100%;

        .divOpcoes {
            margin: 0 5em;
            display: flex;
            flex-direction: row;
            align-items: center;

            justify-content: space-around;

            @media screen and (max-width: 1260px) {
                justify-content: space-between;
                
            }

            .logo {
                max-width: 175px;
            }
            
            .hamburger {
                display: none;
                width: 65px;

                @media screen and (max-width: 1260px) {
                    display: block;
                }
            }


            .divUL {
                display: flex;

                @media screen and (max-width: 1260px) {
                    display: none;
                }

                ul {
                    display: flex;
                    list-style: none;

                    li {
                        margin-top: 1.8em;
                        margin-right: 2em;
                        font-size: 20px;
                        padding: 0.5em;
                        color: black;

                        a {
                            text-decoration: none;
                            padding: 8px;
                            border-radius: 11px;
                            color: rgb(0, 0, 0);

                            &:hover {
                                background-color: #027ea6;
                                color: white;
                                transition: 400ms;
                            }

                            @media screen and (max-width: 1386px) {
                                font-size: 0.8em;
                            }
                            @media screen and (max-width: 1298px) {
                                font-size: 0.7em;
                            }
                        }
                    }
                }
                .ulLogin {
                    align-items: center;
                    li {
                        font-size: 20px;
                        button {
                            border: none;
                            background-color: $azul-escuro;
                            padding: 0.5rem;
                            border-radius: 11px;
                            a {
                                text-decoration: none;
                                color: white;
                                font-size: 20px;
                                @media screen and (max-width: 1386px) {
                                    font-size: 0.9em;
                                }
                            }
                        }
                        a {
                            color: black;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}
