

    .containerItens{
        display: flex;
        justify-content: center;
        align-items: center;
    
        
    
          .imagemMeta{
            width: 50%;
          }
          
    }


