
footer{
    display: flex;
    justify-content: center;
    // padding: 0 15%;
    margin-top: 15dvh;
    @media screen and (max-width: 640px) {
        flex-direction: column;
        align-items: center;
    }
    .divSociais{
        margin-right: 20%;
        @media screen and (max-width: 640px) {
            margin :0;
        }
        p{
            font-weight: lighter;
            font-size: 40px;
        }
    }
    .divUls{
        display: flex;
        @media screen and (max-width: 640px) {
            width: 100%;
            justify-content: space-evenly;
        }
    }
    .divInfos{
        p{
            font-weight: bold;
        }
        .ulFooter{
            padding: 0;
            list-style: none;
            margin-right: 2em;
            li{
                margin-bottom: 0.5em;
            }
        }
    }
}