$azul-claro: #027ea6;

.divContainer {
  @media screen and (max-width: 415px) {
    margin-bottom: 2em;
}
  .text-focus-in {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53)
      both;
    animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }
  @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }
  .slide-in-right {
    -webkit-animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  .slide-in-left {
    -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
      transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
      transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  position: relative;
  .imagemBanner {
    width: 100%;
 
  }

  .texto-compartilhado {
    position: absolute;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 35%;
    left: 8.5%;
  }

  h1 {
    @extend .texto-compartilhado;
    top: 16%;
    font-size: 60px;
    @media screen and (max-width: 1600px) {
      font-size: 3em;
    }
    @media screen and (max-width: 1229px) {
      font-size: 2.5em;
    }
    @media screen and (max-width: 1020px) {
      // font-size: 2em;
      width: 40%;
    }
    @media screen and (max-width: 890px) {
      
      width: 50%;
    }
    @media screen and (max-width: 790px) {
      
      font-size: 2.3em;
      width: 50%;
    }
    @media screen and (max-width: 660px) {
      width: 60%;
    }
    @media screen and (max-width: 570px) {
      width: 90%;
    }
    @media screen and (max-width: 514px) {
      top: 8%;
    }
    @media screen and (max-width: 490px) {
      font-size: 1.8em;
    }
    @media screen and (max-width: 420px) {
      font-size: 1.5em;
    }
  }
  p {
    @extend .texto-compartilhado;
    top: 47%;
    width: 30%;
    font-size: 20px;
    font-weight: lighter;
    @media screen and (max-width: 1600px) {
      font-size: 18px;
    }
    @media screen and (max-width: 1290px) {
      margin-top: 1em;
    }
    @media screen and (max-width: 1120px) {
      font-size: 18px;
    }
    @media screen and (max-width: 1030px) {
      top:50%;
    }
    @media screen and (max-width: 1050px) {
      font-size: 16px;
      width: 35%;
    }
    @media screen and (max-width: 900px) {
     top:52%
    }
    @media screen and (max-width: 790px) {
      width: 40%;
      font-size: 15px;
    }
    @media screen and (max-width: 600px) {
      width: 80%;
    }
    @media screen and (max-width: 490px) {
      top: 40%;
    }
    @media screen and (max-width: 430px) {
     font-size: 14px;
    }
    
  }
  button {
    @extend .texto-compartilhado;
    top: 62%;
    font-size: 21px;
    font-weight: normal;
    border-radius: 9px;
    border: none;
    width: 10%;
    padding: 12px 10px;
    color: $azul-claro;
    @media screen and (max-width: 1480px) {
      margin-top: 2em;
      font-size: 18px;
    }
    @media screen and (max-width: 1290px) {
      top: 65%;
    }
    @media screen and (max-width: 1225px) {
      margin-top: 3em;
      font-size: 16px;
    }
    @media screen and (max-width: 1120px) {
      margin-top: 4em;
      font-size: 14px;
      width: 20%;
    }
    @media screen and (max-width: 1120px) {
      margin-top: 5em;
     
    }
    @media screen and (max-width: 670px) {
      top: 66%;
    }
    @media screen and (max-width: 600px) {
      top: 60%;
      width: 85%;
    }
    @media screen and (max-width: 510px) {
      top: 55%;
    }
    @media screen and (max-width: 490px) {
      top: 50%;
    }
  }
  span {
    font-weight: 600;
  }
}
