.containerPrincipal{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 18px;
    display: flex;
    justify-content: center;
    .divConteudo{

        display:flex;
        justify-content: flex-end;
        width:80%;

        
        .divTextos{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1{
                width: 100%;
                font-size: 45.44px;
                font-style: r;
            }
            p{
                margin-top: 5%;
                width: 80%;
                font-size: 20.6px;
            }
            button{
                margin-top: 4%;
                width:20%;
                background-color: #027EA6;
                padding: 1em;
                border: none;
                border-radius: 11px;
            }
        }
        .divImg{
            width: 50%;
            img{
                width: 820px;
            }
        }
    }
}